body {
  height: 100vh;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, from(#a8c0ff), to(#3f2b96));
  background: linear-gradient(to top, #a8c0ff, #3f2b96);
  font-family: "Nunito", Arial;
}

.container {
  max-width: 760px;
  width: 90%;
  margin: 2em auto;
  padding: 1.5em;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin-top: 0;
  font-size: 4rem;
  text-align: center;
}

.add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
  color: white;
  border-radius: 15px;
}

.add-task__input {
  width: 85%;
  padding: 0.75em 1em;
  background-color: #f0f0f0;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
}

.add-task__button {
  padding: 0;
  width: 10%;
  color: white;
  background-color: #dfdfdf;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.add-task__button i {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.add-task__button:hover {
  background-color: #3f2b96;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.add-task__button:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.show {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  font-size: 0.9rem;
  color: #c7c7c7;
}

.show__button {
  margin: 0;
  text-align: right;
  cursor: pointer;
  -webkit-transition: color 350ms;
  transition: color 350ms;
}

.show__button:first-of-type {
  grid-column: -3 / -2;
}

.show__button:last-of-type {
  grid-column: -2 / -1;
}

.show__button:hover, .show__button--active {
  color: black;
  -webkit-transition: color 350ms;
  transition: color 350ms;
}

.show span {
  font-weight: bold;
  color: black;
}

.tasks-container {
  position: relative;
  margin: 2em 0 0;
}

.inactive {
  display: none;
}

@-webkit-keyframes heightAnimation {
  0% {
    max-height: 0;
  }
  50% {
    max-height: 20px;
  }
  100% {
    max-height: 1000px;
  }
}

@keyframes heightAnimation {
  0% {
    max-height: 0;
  }
  50% {
    max-height: 20px;
  }
  100% {
    max-height: 1000px;
  }
}

.task {
  margin: 0.25em 0;
  padding: 0.75em 1em;
  border-radius: 5px;
  background-color: #f0f0f0;
  overflow: hidden;
  -webkit-animation-name: heightAnimation;
          animation-name: heightAnimation;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.task--done .task__text {
  text-decoration: line-through;
  color: #c7c7c7;
}

.task--done .task__doneButton-filler {
  background-color: #c7c7c7;
}

.task__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  font-size: 1.2em;
}

.task__edit-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 0.9em;
  font-family: inherit;
}

.task__doneButton {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  background-color: white;
  border: 0.15em solid #c7c7c7;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__doneButton-filler {
  display: inline-block;
  height: 90%;
  width: 90%;
  background-color: inherit;
  border-radius: 50%;
}

.task__doneButton-filler:hover {
  background-color: #c7c7c7;
}

.task:hover .task__deleteButton {
  visibility: visible;
}

.task__deleteButton {
  visibility: hidden;
  margin-left: 0.5em;
  font-size: 1.25em;
  padding: 0;
  text-align: center;
  background-color: unset;
  color: #c7c7c7;
  cursor: pointer;
}

.task__deleteButton:hover {
  color: red;
}
/*# sourceMappingURL=main.css.map */