body {
	height: 100vh;
	margin: 0;
	box-sizing: border-box;
	background: linear-gradient(to top, #a8c0ff, #3f2b96);
	font-family: "Nunito", Arial;
}

.container {
	max-width: 760px;
	width: 90%;
	margin: 2em auto;
	padding: 1.5em;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 1px 10px rgba($color: #000000, $alpha: 0.1);
}

.title {
	margin-top: 0;
	font-size: 4rem;
	text-align: center;
}

.add-task {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
	color: white;
	border-radius: 15px;

	&__input {
		width: 85%;
		padding: 0.75em 1em;
		background-color: #f0f0f0;
		font-family: inherit;
		font-size: inherit;
		border: none;
		outline: none;
		border-radius: 5px;
	}

	&__button {
		padding: 0;
		width: 10%;
		color: white;
		background-color: #dfdfdf;
		border: none;
		font-size: 1.25em;
		cursor: pointer;
		border-radius: 5px;
		transition: background-color 500ms;

		i {
			transition: transform 500ms;
		}

		&:hover {
			background-color: #3f2b96;
			transition: background-color 500ms;

			i {
				transform: rotate(90deg);
				transition: transform 500ms;
			}
		}
	}
}

.tasks-placeholder {
	margin: 2em 0 0;
	text-align: center;
	color: #6f6f6f;
}

.inactive {
	display: none;
}

@keyframes heightAnimation {
	0% {
		max-height: 0;
	}
	50% {
		max-height: 20px;
	}
	100% {
		max-height: 1000px;
	}
}


.task {
	margin: .25em 0;
	padding: 0.75em 1em;
	border-radius: 5px;
	background-color: #f0f0f0;
	overflow: hidden;	
	animation-name: heightAnimation;
	animation-duration: 500ms;
	animation-timing-function: linear;

	&--done {
		.task__text {
			text-decoration: line-through;
			color: #c7c7c7;
		}
	
		.task__doneButton-filler {
			background-color: #c7c7c7;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__text {
		flex-grow: 1;
		margin: 0;
		font-size: 1.2em;
	}

	&__edit-input {
		flex-grow: 1;
		background-color: inherit;
		border: none;
		outline: none;
		font-size: 0.9em;
		font-family: inherit;
	}

	&__doneButton {
		height: 1em;
		width: 1em;
		margin-right: 0.5em;
		background-color: white;
		border: 0.15em solid #c7c7c7;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		&-filler {
			display: inline-block;
			height: 90%;
			width: 90%;
			background-color: inherit;
			border-radius: 50%;

			&:hover {
				background-color: #c7c7c7;
			}
		}
	}

	&:hover {
		.task__deleteButton {
			visibility: visible;
		}
	}

	&__deleteButton {
		visibility: hidden;
		margin-left: 0.5em;
		font-size: 1.25em;
		padding: 0;
		text-align: center;
		background-color: unset;
		color: #c7c7c7;
		cursor: pointer;

		&:hover {
			color: red;
		}
	}
}

.tab {
	cursor: pointer;
	padding: .5em 1em .25em;
	font-size: .95em;
	color: #cacaca;

	&__container {
		display: flex;
		justify-content: center;	
		margin-top: 2em;
	}

	&--active {
		color: black;
		border-bottom: .25em solid #3f2b96;
	}
}

.features {
	margin-top: 1em;
	text-align: right;

	&__pending-count {
		font-size: .95em;
		color: #cacaca;

		span {
			color: black;
			font-weight: bold;
		}
	}
}